@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --black: #222222;
    --opacity-gray: 0.5;
    --opacity-more-gray: 0.3;
}

body {
    font-family: 'Open Sans', sans-serif;
    /*background-color: #f1f1f4;*/
    color: var(--black);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ==================== main ==================== */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f7f7f7, #ededed);
    width: 870px;
    height: 780px;
}


/* ==================== section ==================== */
.section {
    width: 315px;
    height: 680px;
    background-color: white;
    border-radius: 30px;
}

.section:first-child {
    margin-right: 100px;
}


/* ==================== header ==================== */
.header {
    padding: 40px 25px;
    display: flex;
    justify-content: space-between;
}

.header__icon {
    font-size: 18px;
}


/* ==================== song-selected ==================== */
.song-selected {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
}

.song-selected__cover {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 30px;
    box-shadow: 0 1em 2em 0.1em #d9c5a3;
    /*box-shadow: 0 0 1em #d9c5a3;*/
}

.song-selected__author {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.song-selected__genre {
    font-size: 12px;
    opacity: var(--opacity-gray);
    margin-bottom: 40px;
}

.song-selected__btns {
    display: flex;
}

.song-selected__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 12px;
    border-radius: 20px;
}

.song-selected__btn:first-child {
    background-color: var(--black);
    color: white;
    margin-right: 20px;
    font-weight: 400;
}

.song-selected__btn:last-child {
    background-color: white;
    box-shadow: 0 1em 2em 0.1em #f0f0f0;
}

.song-selected__btn:last-child i {
    margin-right: 5px;
}

.song-selected__btn:last-child span {
    opacity: var(--opacity-gray);
}


/* ==================== list ==================== */
.list {
    margin-top: 20px;
}

.song-list {
    display: flex;
    flex-direction: column;
}

.song-list__column {
    display: flex;
    margin: 5px 15px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 10px;
}

.song-list__column:nth-child(2) {
    box-shadow: 0 0 2em 0.1em #f0f0f0;
}

.song-list__column > span {
    margin-left: auto;
    opacity: var(--opacity-gray);
}

.song-list__song-cover {
    margin-right: 20px;
    position: relative;
}

.song-list__song-cover img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.song-list__now-playing {
    width: 21px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 10px;
}

.song-list__now-playing div {
    width: 5px;
    height: 18px;
    background-color: white;
    border-radius: 2px;
}

.song-list__now-playing div:first-child {
    margin-right: auto;
}

.song-list__now-playing div:last-child {
    margin-left: auto;
}

@keyframes now-playing {
  0% {
        transform: scaleY(0.4);
        transform-origin: 0% 100%;
  }
  100% {
        transform: scaleY(1);
        transform-origin: 0% 100%;
  }
}

.song-list__now-playing div:first-child {
    animation: now-playing 0.6s infinite;
    animation-delay: 0.4s;
}

.song-list__now-playing div:nth-child(2) {
    animation: now-playing 0.6s infinite;
    animation-delay: 0s;
}

.song-list__now-playing div:last-child {
    animation: now-playing 0.6s infinite;
    animation-delay: 0.2s;
}

.song-list__song-info {
    display: flex;
    flex-direction: column;
}

.song-list__author {
    font-size: 12px;
    opacity: var(--opacity-gray);
    margin-bottom: 5px;
}

.song-list__title {
    font-size: 14px;
    text-transform: uppercase;
}

.song-play-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    margin: -7px 15px 0 15px;
    border-radius: 40px;
    background-color: var(--black);
    color: white;
    box-shadow: 0 0 1em #c3c3c3;
}

.song-play-bar__info {
    display: flex;
    flex-direction: column;
}

.song-play-bar__author {
    font-size: 12px;
    opacity: var(--opacity-gray);
    margin-bottom: 5px;
}

.song-play-bar__title {
    font-size: 14px;
    text-transform: uppercase;
}

.song-play-bar__btns {
    display:flex;
}

.song-play-bar__btn:first-child {
    margin-right: 20px;
}

.song-play-bar__btn:nth-child(2) {
    margin-right: 20px;
}


/* ==================== playing__info ==================== */
.playing-main__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.playing-main__cover {
    width: 230px;
    height: 230px;
    margin-bottom: 50px;
    border-radius: 20px;
    box-shadow: 0 0 1em #3b3127;
}

.playing-main__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.playing-main__author {
    font-size: 14px;
    opacity: var(--opacity-gray);
}

.playing-control__status {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    margin-bottom: 50px;
}

.playing-control__time {
    display: flex;
    justify-content: space-between;
}

.playing-control__time span {
    font-size: 11px;
    opacity: var(--opacity-more-gray);
}

.playing-control__range {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.playing-control__prev {
    width: 70%;
    height: 4px;
    background-color: var(--black);
}

.playing-control__now {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--black);
}

.playing-control__next {
    width: 30%;
    height: 4px;
    background-color: var(--black);
    opacity: var(--opacity-more-gray);
}

.playing-control__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.playing-control__btns > i:first-child,
.playing-control__btns > i:last-child {
    opacity: var(--opacity-more-gray);
}

.playing-control__btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: var(--black);
    border-radius: 50%;
    color: white;
    box-shadow: 0 0 1em #c3c3c3;
}

.playing-control__btns div i {
    margin-left: 3px;
}
