body {
    background-color: cadetblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 100px 0;
    height: 250px;
}

.circle-box,
.bar-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.circle-box {
    width: 110px;
}

.bar-box {
    width: 80px;
}

.circle,
.bar {
    background-color: white;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.bar {
    width: 10px;
    height: 50px;
}

@keyframes circle-rotate {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateZ(180deg);
    }
}

.circle-box {
    
    animation: circle-rotate 1s infinite;
}

@keyframes bar-stretch {
    0% {
        transform: scaleY(1);
    }
    20% {
        transform: scaleY(2);
    }
    40% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

.bar {
    animation: bar-stretch 1s infinite;
}

.bar:nth-child(1) {
    animation-delay: 0.1s;
}

.bar:nth-child(2) {
    animation-delay: 0.2s;
}

.bar:nth-child(3) {
    animation-delay: 0.3s;
}

.bar:nth-child(4) {
    animation-delay: 0.4s;
}

.bar:nth-child(5) {
    animation-delay: 0.5s;
}